:host ::ng-deep .p-tabview-nav {
  display: flex;
}

:host ::ng-deep .p-tabview-nav li {
  flex: 1;
}

:host ::ng-deep .p-tabview-nav-link {
  justify-content: center;
}

:host ::ng-deep .p-avatar {
  border-radius: 50% !important;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0 !important;
  }

:host ::ng-deep .p-inputgroup .p-selectbutton .p-button:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

:host ::ng-deep .p-inputgroup > p-button .p-button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

:host ::ng-deep p-button {
  display: inline-flex;
  align-items: stretch;
}

:host ::ng-deep .p-inputgroup > p-button .p-button:focus {
  outline: none !important;
}

:host ::ng-deep .p-inputgroup {
  display: flex !important;
  width: auto !important;
}

:host ::ng-deep p {
  margin: 0 !important;
}
